body {
  width: 100vw;
  overflow-x: hidden;
  font-family: monospace;
  display: flex;
  justify-content: center;
}

.reader {
  width: 50%;
}

.reader_list {
  font-size: 16px;
}

.reader_list_item {
  margin: 5px 0;
}

@media (max-width: 1024px) {
  .reader {
    width: 95%;
    justify-content: start;
  }
  .reader_title,
  .reader_counter {
    text-align: center;
  }
}
